body{
    margin: 4em auto;
}

body, button, input, a, label{
   font-size: 1.3em !important;
}

:focus, :focus~label{
    background-color: #ffffee !important;
    color: #000000 !important;
}

#lnkStartStop:focus  {
    background-color: #FFFFFF !important;
}

.speech-highlight{
    background-color: #ccf7ff;
    padding: 8px 16px;
}

.btn{
    min-width: 100px;
}

.form-group, .checkbox, .radio{
    margin-bottom: 2em;   
}

.head-links a{
    margin: 0.2em auto 0.4em
}

.head-links a:first-child{
    margin-left: 0;
}

.glyphicon-refresh {
    color: #2085da;
}

.glyphicon-stop {
    color: red;
}

#templateContainer{
    margin: 1em auto 2em auto;
    padding: 3em 2em;
    border: solid 1px #DDDDDD;
    border-radius: 5px;
    background-color: #efefef;
}